<html>
<head>
    <title>Sign Up</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Sign Up</h2>
        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <a href="/login">Login</a>
    </div>
</body>
</html>
